{% extends "layout.html" %}

{% block title %}SIGN IN{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/submittableforms.css">
{% endblock %}

{% block body %}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="page-title">
        <h1>Login to Flauth</h1>
    </div>
    <br>
    <div class="wrapper">
        <!-- Error box -->
        <div class="alert alertbox d-none" role="alert" id="error-box">
            <strong id="error-message"></strong>
        </div>
        <!-- Error box end -->
        <form id="postinlog">
            <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="Username" title="Enter your username"
                    name="username" minlength="5" maxlength="15" autofocus required>
                <label for="username">Username</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password"
                    title="Enter your password" name="password" minlength="8" required>
                <label for="password">Password</label>
            </div>
            <br>
            <button type="submit" class="formSubmitbtn">
                <span id="btn-text">LOGIN</span>
                <span id="btn-spinner" class="spinner-border spinner-border-sm d-none"
                    style="width: 1.5rem; height: 1.5rem;"></span>
            </button>
        </form>
        <br>
        <div class="linkre text-center">
            <strong>Don't have an account? <a href="/auth/register">Create one</a></strong>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    $(document).ready(function () {
        $("#postinlog").submit(function (event) {

            event.preventDefault();

            let btnText = document.getElementById("btn-text");
            let btnSpinner = document.getElementById("btn-spinner");

            let alertBox = document.getElementById("error-box");
            let errorMessage = document.getElementById("error-message");

            $.ajax({

                url: "/auth/login",
                type: "POST",
                data: $(this).serialize(),
                dataType: "json",
                success: function (response) {

                    if (response.error) {
                        errorMessage.textContent = response.error;
                        alertBox.classList.remove("d-none", "alert-danger");
                        alertBox.classList.add("alert-warning");
                    }
                    else if (response.twofa) {
                        window.location.href = "/auth/secondary-verification";
                    }
                    else {
                        window.location.href = "/account"
                    }

                },
                error: function () {
                    errorMessage.textContent = "An unexpected error occurred"
                    alertBox.classList.remove("d-none")
                },
                complete: function () {
                    btnText.classList.remove("d-none");
                    btnSpinner.classList.add("d-none");
                }

            });

        });
    });
</script>

{% endblock %}